/*
==============================================
Section Login
==============================================
*/
.sectionLogin {
  background: url("../../assets/images/login/login-background.jpg") center
    center no-repeat;
  background-size: cover;
  border-top: 3px dashed var(--color-moradoSuave);
  min-height: 1000px;
  position: relative;
}
.sectionLogin h2 {
  color: var(--color-amarillo);
  margin-bottom: 100px;
}
.sectionLogin .formContact {
  border-top: 5px solid rgba(255, 162, 0, 1);
  border-top-left-radius: 0;
}
.sectionLogin .formContact p {
  color: #000;
  font-family: "Gotham Medium";
  margin-bottom: 40px;
}
.tabLogin {
  left: -4px;
  position: absolute;
  top: -55px;
  width: 250px;
}
.tabLogin ul {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.tabLogin ul li {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  height: 55px;
  padding: 0px 20px;
}
.tabLogin ul .active {
  background: rgba(255, 162, 0, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 162, 0, 1)),
    color-stop(100%, rgba(255, 183, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ffb700', GradientType=0 );
  -webkit-box-shadow: 6px 0px 5px -3px rgba(210, 207, 216, 1);
  -moz-box-shadow: 6px 0px 5px -3px rgba(210, 207, 216, 1);
  box-shadow: 6px 0px 5px -3px rgba(210, 207, 216, 1);
}
.tabLogin ul .noactive {
  background: #fff;
}
.tabLogin ul li a {
  align-items: center;
  display: flex;
  color: var(--color-moradoEnlace);
  height: 100%;
  justify-content: center;
  font-weight: 600;
}
.moreLogin p,
.moreLogin a {
  font-size: 18px;
  margin-bottom: 0px !important;
  text-align: left;
}
.moreLogin a {
  color: #452f90;
  font-family: "Gotham Medium";
  text-decoration: underline;
}
.textcenter {
  margin-top: 20px;
  text-align: center !important;
}
@media only screen and (max-width: 480px) {
  .sectionLogin{
    padding: 15px;
    padding-bottom: 145px;
  }
  .sectionLogin h2{
    font-size: 45px;
  }
}
